fastapi==0.115.2
uvicorn==0.32.0
python-multipart==0.0.9
aiofiles==24.1.0

pydantic==2.9.2
pydantic-settings==2.5.2

psycopg2-binary==2.9.10

pandas==2.2.2
huggingface_hub
pyarrow==17.0.0
tqdm==4.66.5

requests==2.32.3

transformers==4.35.1
datasets[audio]==2.14.7
numpy<2.0
accelerate==0.24.1
matplotlib<3.9
wandb
tensorboard
Cython